<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="thirdparty" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{HH:mm:ss} %l %m%n" />
		</layout>
	</appender>

	<appender name="dailyFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./log/shiro-demo.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{HH:mm:ss} %l %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="warn" />
		</filter>
	</appender>

	<root>
		<level value="info" />
		<appender-ref ref="thirdparty" />
		<appender-ref ref="dailyFile" />
	</root>
</log4j:configuration>